## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## OS files
.DS_Store
Thumbs.db

## ASP.NET Core Secrets
secrets.json
*.db
appsettings.Development.json
appsettings.Local.json

## Rider or VS Code or VS
.idea/
.vscode/
.vs/

## Logs
*.log

## dotnet tools
*.pdb
*.cache
*.nupkg

## Entity Framework
Migrations/
